section.content.content
  div.content__wrap.content__wrap--clients
    div.content__half.content__half--clients
      p.content__title ABOUT US
      p.content__h2 Our Awesome Clients
    section.clients
      div.clients__control
        p.clients__arrow
        p.clients__arrow.clients__arrow--right
      div.clients__list
        div.clients__card
          p.clients__text Yes, you will need to have the land owner sign the permit application as the Permittee, and you sign the permit as the Applicant or Agent for the Permittee.
          div.clients__info
            img.clients__photo(src="./img/clients/1.webp")
            p.clients__name Isak Pettersson
        div.clients__card
          p.clients__text From most barricade or traffic control companies located in the phone book. They employ certified Traffic Control Supervisors (TCS) who can generate and certify the traffic control plan. 
          div.clients__info
            img.clients__photo(src="./img/clients/2.webp")
            p.clients__name Simon Sandberg
        div.clients__card
          p.clients__text Yes, you will need to have the land owner sign the permit application as the Permittee, and you sign the permit as the Applicant or Agent for the Permittee.
          div.clients__info
            img.clients__photo(src="./img/clients/3.webp")
            p.clients__name Isak Pettersson
