section.content.content--faq
  div.faq__background
  div.content__wrap.content__wrap--faq
    div.content__wrap
      div.content__half
        p.content__title FAQ
        p.content__h2 Questions and Answers on Professional Traffic Permits:
      div.content__half
        img.content__image(src="./img/faq.webp")
    section.content__faq
      section.faq
        section.faq__half
          div.faq__item
            p.faq__text What is a professional traffic permit?
              span.faq__expand
            p.faq__text.faq__text--answer Traffic permits are a requirement for conducting professional traffic.
          div.faq__item 
            p.faq__text How to check the traffic condition?
              span.faq__expand
            p.faq__text.faq__text--answer Traffic permits are a requirement for conducting professional traffic.
          div.faq__item
            p.faq__text What are the requirements for a professional traffic permit?
              span.faq__expand
            p.faq__text.faq__text--answer Traffic permits are a requirement for conducting professional traffic.
          div.faq__item
            p.faq__text Are there professional traffic permit training courses at a distance?
              span.faq__expand            
            p.faq__text.faq__text--answer Traffic permits are a requirement for conducting professional traffic.
          div.faq__item
            p.faq__text What is a professional traffic permit?
              span.faq__expand
            p.faq__text.faq__text--answer Traffic permits are a requirement for conducting professional traffic.
          div.faq__item
            p.faq__text What is a professional traffic permit?
              span.faq__expand
            p.faq__text.faq__text--answer Traffic permits are a requirement for conducting professional traffic.
        section.faq__half
          div.faq__item
            p.faq__text When is a professional traffic permit needed?
              span.faq__expand
            p.faq__text.faq__text--answer Traffic permits are a requirement for conducting professional traffic.
          div.faq__item 
            p.faq__text Where to look for a traffic permit?
              span.faq__expand
            p.faq__text.faq__text--answer Traffic permits are a requirement for conducting professional traffic.
          div.faq__item
            p.faq__text Are there differences between a traffic permit and a professional traffic permit?
              span.faq__expand
            p.faq__text.faq__text--answer Traffic permits are a requirement for conducting professional traffic.
          div.faq__item
            p.faq__text How much does a commercial traffic permit cost for goods?
              span.faq__expand
            p.faq__text.faq__text--answer Traffic permits are a requirement for conducting professional traffic.
          div.faq__item
            p.faq__text How to plug in for the traffic permit test?
              span.faq__expand
            p.faq__text.faq__text--answer Traffic permits are a requirement for conducting professional traffic.
          div.faq__item
            p.faq__text How is the sample for a professional traffic permit booked?
              span.faq__expand
            p.faq__text.faq__text--answer Traffic permits are a requirement for conducting professional traffic.
          
          button.faq__text.faq__text--button Load more
