header.header
  div.header__wrap
    section.header__head
      p.logo trafico.
      section.menu
        a.menu__link(href='#about') About
        a.menu__link(href='#howTo') How To
        a.menu__link(href='#faq') Faqs
        a.menu__link(href='#footer') Contact us
    section.header__body
      
