header.header
  img#people-img(src="./img/header/people.webp")
  img#truck-img(src="./img/header/truck.webp")
  div.header__wrap
    section.header__head
      p.logo trafico.
      section.menu
        a.menu__link(href='#about') About
        a.menu__link(href='#howTo') How To
        a.menu__link(href='#faq') Faqs
        button.button.button--short Contact us
    section.header__body
      section.content
        div.content__wrap--header
          p.content__title Your awesome traffic permit consultant.
          button.button.button--withArrow Get Started
