section.content
  div.content__wrap
    div.content__half
      img.content__image(src="./img/howto.webp")
    div.content__half
      p.content__title How to apply
      p.content__text When applying for a traffic permit, there are certain requirements that you must meet that are included in the examination: requirements for professional knowledge, solid establishment, good reputation and financial resources. Important to remember is to confirm your application for a traffic permit by the company's company signer or CEO.
