doctype html
html
  include ./inc/head.pug
  body
    include ./inc/header.pug
    include ./inc/about.pug
    include ./inc/howto.pug
    include ./inc/faq.pug
    include ./inc/clients.pug
    script(src="./js/main.js")
