@import "normalize.scss";

.faq {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__background {
    z-index: -1;
    position: absolute;

    width: 73vw;
    height: 100%;
    right: 0;
    top: 0;

    background: $pink;
    border-radius: 10vh 0 0 0 ;
  }

  &__half {
    width: 49%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border-radius: 10px;
    box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.35);

    overflow: hidden;

    background-color: $pink;

    margin-bottom: 2vh;
  }

  &__text {
    font-size: 2.5vh;
    font-family: $rubik;

    width: 100%;
    min-height: 8vh;
    background: $white;

    padding: 3vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    &--answer {
      background: inherit;
      border-radius: -10px -10px 10px 10px;
      display: none;
    }

    &--button {
      background-color: $red;
      padding: 0;
      justify-content: center;
    }
  }

  &__expand {
    width: 3vh;

    &::before {
      content: '';
      position: absolute;
      right: 2vw;
      top: 50%;
      height: 2.5vh;
      transform: translateY(-50%) rotate(90deg);
      border-right: 0.3vh solid $red;
    }

    &::after {
      content: '';
      position: absolute;
      right: 2vw;
      top: 50%;
      height: 2.5vh;
      transform: translateY(-50%);
      border-right: 0.3vh solid $red;
    }
  }

}
